*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background: linear-gradient(-170deg, rgb(3, 189, 65), rgb(255, 213, 0));
}   